.education-list>li>span {
    color: grey;
}

.education-list>li {
    list-style-type: none;
    margin-bottom: 3%;
}

.spacing-text-details {
    padding: 2%;
}

p.max-text-width {
    max-width: 150px;
}