.half-page-left {
    width: 50%;
    position: absolute;
    overflow: auto;
    height: 98vh;
}

.half-page-right {
    width: 50%;
    float: right;
    overflow: auto;
    height: 98vh;
}

.Container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print1, #section-to-print1 * {
        visibility: visible;
    }
    #section-to-print1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 90%;
    }
    #section-to-print2, #section-to-print2 * {
        visibility: visible;
    }
    #section-to-print2 {
        position: absolute;
        left: 0;
        top: 100%;
        width: 90%;
    }
}

@page {
    size: auto;
    margin: 0mm;
}